

.back{
    /* margin-top: 90px; */
    margin-bottom: 50px;
    width:100%;
    height:350px;
    background: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("back.jpg");
    background-size: 100%;
    background-position: center;
    background-size: cover;
    
}
 p{
    margin-top: 50px;
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 2px 5px white;
    color:white;

} 
.gall1{
    color:yellow;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,.1fr);
    justify-content: center;

}
.gallery img{
   /* float:left;  */
    height:350px;
    width:300px;
    margin:10px;
    
}