{% extends 'index.html'%}

{% block style%}
  {% load static %}
  <link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock %}

{% block body%}
<div class="course">
</div>
{% comment %} <div class="fixed">
</div> {% endcomment %}
<div class="about">
<h1>About</h1>
<p>Active Life Gym Fitness Institute is the only Advanced
 <strong>Personal Trainer Program</strong>Active Life Gym Fitness 
 Institute was started on World Health Day on 
 7th April 2006. It’s been more than a decade of 
 educating people in fitness. Every year 1000+ students 
 pass out of the institute. Active Life Gym Fitness Institute 
 offers the most exciting and up-to-date curriculum as 
 well as ongoing training in all aspects of the fitness 
 industry., which offers you low-cost tuition, fast test
  results and complete career development. Becoming a Active Life 
  Gym Fitness Institute certified Advanced Personal trainer 
  is your foundation for success. It offers you complete approach
   to fitness, wellness and business skills. Make an investment 
   in yourself and become a <b>Active Life Gym</b> Fitness Institute certified 
   <b>Personal Trainer.</b>
</p> 
</div> 

<div class="course_1">
    <div class="subcourse">
<h1>Vision & Mission</h2>
<p>GGFI is a nurturing ground for an individual who 
    is passionate about fitness and wants to embark on the 
    journey of spreading authentic fitness. We believe 
    in promoting and spreading fitness across and providing
 the required guidance for individuals who wish to excel
  in this field.
</P>

<p>Our mission is to build a community of skilled, experienced 
    and empathetic trainers who understand that fitness is
     a continuous journey and there always in continuous 
     education.</p>
   </div>

    <div class="about_img">
    <img src="/static/course1.jpg" alt="">
    </div>
</div>
 <div id="Culture">
  
      <h1>Our Culture</h1>
        <p> We believe in people do their best work when
         they feel like they’re a part of a company with 
         strong values. We believe each employee comes with
          a diverse experience and it is this diverse 
          experience which sets up apart. Freedom of thought 
          and believe is our core motto.</p>
    
</div> 
<div id="faculty">
    <div class="fac1">
        <div class="subfac">
          <img src="/static/gallery/1.webp">
          <h2>Dr. Akshay Kulkarni</h2>
          <h4> Exercise Science Faculty</h4>
        </div>
        <div class="subfac">
          <img src="/static/gallery/2.webp">
          <h2>Dr. Karan Sonic</h2>
         <h4>  Exercise Science Faculty</h4>
        </div>
        <div class="subfac">
          <img src="/static/gallery/3.webp">
           <h2>Dr. Nikhil Desale</h2>
           <h4>Exercise Science Faculty</h4>
        </div>
    </div>
    
    <div class="fac1">
        <div class="subfac">
          <img src="/static/gallery/4.webp">
          <h2>Dr. Nikita Nadkarni</h2>
           <h4>Sr. Exercise Science Faculty</h4>
        </div>
        <div class="subfac">
         <img src="/static/gallery/5.webp">
           <h2>Mr. Akhil Kumar</h2>
            <h4>Exercise Science Faculty<h4>
        </div>        
     <div class="subfac">
       <img src="/static/gallery/6.webp">
       <h2>Mr. Girish Shirsat</h2>
        <h4>Exercise Science Faculty</h4>
     </div>
</div>
    
    <div class="fac1">
        <div class="subfac">
          <img src="/static/gallery/7.webp">
          <h2>Dr. Akshay Kulkarni</h2>
            <h4>Exercise Science Faculty</h4>
       </div>
    <div class="subfac">
    <img src="/static/gallery/8.webp">
    <h2>Mr. Vishal Thomas</h2>
      <h4>Exercise Science Faculty</h4>
   </div>
    <div class="subfac">
      <img src="/static/gallery/9.webp">
       <h2>Ms. Shraddha Gadit</h2>
       <h4> HOD & Nutritionist</h4>
    </div>
    
</div> 
<div class="courses">
  <div class="course__1">
    <h1>Advanced Personal Training Fitness Course</h1>
    <ol>
        <li>Specialized Expertise: Offer access to advanced
             trainers or instructors with specialized certifications, 
             extensive experience, and a deep understanding of cutting-edge 
             fitness methodologies</li>
        <li>Tailored Advanced Techniques: Provide
             personalized training strategies tailored to 
             individual fitness levels, goals, and specific
         requirements, including advanced workout routines,
          periodization, and targeted exercises.</li>
        <li>
            Innovative Technology Integration: Incorporate
             state-of-the-art fitness technology, such as
              wearable devices, data analytics, or virtual
         coaching platforms, to enhance training accuracy 
         and track progress effectively.</li>
        <li>
            Holistic Approach: Emphasize a holistic approach 
            by integrating advanced nutrition plans, mental 
            conditioning, recovery techniques, and stress 
            management strategies into the fitness regimen.</li>
        <li>
            Advanced Certification and Recognition: Provide 
            certifications or credentials that are widely 
            recognized and respected within the fitness industry, 
            signaling high proficiency and expertise in advanced 
            training methods.</li>
        <li>Practical Application and Mentorship: Offer hands-on
          experience, internship opportunities, or mentorship
           programs with established fitness professionals to bridge 
           the gap between theory and real-world application.</li>
        <li>Practical Application in Real-Life Situations: Focus 
            on applying learned skills in real-life emergency situations,
             promoting quick and effective response in cardiac emergencies</li>
        <li>
            Updated Guidelines and Protocols: Ensure the training 
            content adheres to the latest guidelines and protocols
             established by leading health organizations like the 
             American Heart Association (AHA) or the American Red Cross.</li>
        <li>Compact and Time-Efficient Courses: Offer flexible training
             schedules, including condensed courses for busy individuals, 
             providing essential skills within a shorter timeframe.</li>
        <li>
            Continued Support and Resources: Provide ongoing 
            support, access to resources, refresher courses, or 
            online materials to help participants retain and refresh 
            their CPR and AED skills.</li>
    </ol>
</div>   
<div class="course__2">
    <h1>CPR (Cardiopulmonary Resuscitation) and AED (Automated External Defibrillator)</h1>
    <ol>
        <li>
            Certification and Accreditation: Offer certifications that comply with recognized 
            organizations and accrediting bodies, providing credibility and recognition to
             participants upon completion</li>
        <li>
            Hands-On Practical Training: Emphasize hands-on practice sessions allowing participants
             to develop proficiency and confidence in performing CPR and using AED devices on 
             simulated scenarios.</li>
        <li> 
            Expert Instruction: Provide training by experienced instructors, including healthcare
             professionals or certified trainers with real-world experience in emergency response
              situations</li>
        <li>
           Interactive Learning Materials: Utilize engaging and interactive learning materials,
            including videos, scenarios, and simulations, enhancing the learning experience and 
            retention of life-saving techniques.
        </li>
        <li>
            Concise and Comprehensive Curriculum: Deliver a well-structured curriculum that 
            covers both basic and advanced CPR techniques, AED usage, and recognition of cardiac
             emergencies, ensuring comprehensive skill development.</li>
        <li>Tailored for Various Audiences: Customize courses for different audiences, such as healthcare
             professionals, workplace responders, parents, teachers, or the general public, addressing 
             specific needs and scenarios.</li>    
        <li>Practical Application in Real-Life Situations: Focus 
            on applying learned skills in real-life emergency situations,
             promoting quick and effective response in cardiac emergencies</li>
        <li>
            Updated Guidelines and Protocols: Ensure the training 
            content adheres to the latest guidelines and protocols
             established by leading health organizations like the 
             American Heart Association (AHA) or the American Red Cross.</li>
        <li>Compact and Time-Efficient Courses: Offer flexible training
             schedules, including condensed courses for busy individuals, 
             providing essential skills within a shorter timeframe.</li>
        <li>
            Continued Support and Resources: Provide ongoing 
            support, access to resources, refresher courses, or 
            online materials to help participants retain and refresh 
            their CPR and AED skills.</li>
    </ol>    
 </div>
</div>
<div class="boths">
    <div class="female">
    <h1>Female Fitness Course</h1>
    <ol>
        <li>
            Tailored to Female Physiology: Emphasize workouts designed specifically for the female body, 
            considering hormonal changes, metabolism, and unique fitness requirements like core strength and 
            flexibility.</li>
        <li>
            Holistic Wellness: Offer a holistic approach encompassing fitness, nutrition, mental health, and 
            self-care practices catering to the overall well-being of women</li>
        <li>
            Female-Only Community: Create a safe and supportive space specifically for women, encouraging 
            camaraderie, shared experiences, and networking among participants.</li>
        <li>
            Expert Female Coaches: Provide instruction from experienced and knowledgeable female fitness 
            coaches who understand the needs and challenges of women in fitness</li>
        <li>
            Flexible and Varied Programs: Offer diverse workout routines
             and programs tailored to various fitness levels, preferences, 
             and goals, accommodating both beginners and seasoned fitness
              enthusiasts.</li>
       
        <li>
            Results-Oriented Approach: Emphasize achievable and realistic goals, 
            encouraging progress tracking, and celebrating milestones to motivate
             participants on their fitness journey.</li>
        <li>
            Lifestyle Integration: Encourage the integration of fitness into 
            everyday life, offering tips, resources, and strategies for maintaining 
            a healthy lifestyle amidst busy schedules and responsibilities.</li>
        
    </ol> 

   </div>
     <div class="skill">
    <h1>Skill India Certification</h1>
    <ol>
        <li>Government-Recognized Certification: Emphasize that the Skill
             India certification is endorsed and recognized by the
              Government of India, adding credibility and value to the
               skills acquired.</li>
        <li>Diverse Skill Development: Offer a wide range of skill development 
            programs spanning various industries and sectors, catering to the 
            diverse needs and interests of individuals seeking to enhance their
             skills.</li>
        <li>
            
         Industry-Aligned Training: Provide training aligned with industry 
         standards and requirements, ensuring that certified individuals possess 
         skills relevant to current market demands and job opportunities.
            </li>
        <li>
            Employability Enhancement: Focus on enhancing employability by 
            imparting practical, job-specific skills that equip individuals to
             excel in their chosen fields or sectors.</li>
        <li>Practical Application and Hands-On Training: Emphasize hands-on 
            training, practical workshops, and real-life simulations to ensure
             that participants acquire practical skills and experience.</li>
        <li>Continuous Learning and Upskilling: Provide opportunities for
             continuous learning and upskilling through advanced or specialized 
             courses, enabling individuals to stay updated and competitive in their
              fields.</li>
        <li>Job Placement Assistance: Offer support services such as job placement
             assistance, career counseling, or networking opportunities, facilitating 
             the transition of certified individuals into the workforce.</li>
    </ol>
  </div>
</div>

{% endblock %}