{% extends 'index.html'%}

{% block style%}
  {% load static %}
  <link rel="stylesheet" href="{% static 'gallery.css' %}">
{% endblock %}

{% block body%}

<div id="gallerybody">
    


    <div class="back">
        <p>
        <span class="gall1">GALL</span><span class="gall2">ERY</span>
        </p>
    </div>   
    <div class="gallery">
        <img src="/static/gallery/1.jpg">
        <img src="/static/gallery/2.jpg">
        <img src="/static/gallery/3.jpg">
        <img src="/static/gallery/4.jpg">
        <img src="/static/gallery/5.jpg">
        <img src="/static/gallery/6.jpg">
        <img src="/static/gallery/7.jpg">
        <img src="/static/gallery/8.jpg">
        <img src="/static/gallery/9.jpg">
        <img src="/static/tricepworkouts.jpg">
        <img src="/static/gallery/10.jpg">
        <img src="/static/gallery/11.jpg">
        <img src="/static/gallery/12.jpg">
        <img src="/static/gallery/13.jpg">
        <img src="/static/gallery/20.jpg">
        <img src="/static/gallery/21.jpg">
        <img src="/static/legworkouts.jpg">
        <img src="/static/gallery/22.jpg">
        <img src="/static/gallery/23.jpg">
        <img src="/static/gallery/24.jpg">
        <img src="/static/gallery/25.jpg">
        <img src="/static/gallery/26.jpg">
        <img src="/static/gallery/27.jpg">
        <img src="/static/backworkouts.jpg">
        <img src="/static/bicepworkouts.jpg">
        <img src="/static/cardio.jpg">
        <img src="/static/chestworkouts.jpg">
        <img src="/static/class-1.jpg">
        <img src="/static/fatloss.jpg">
        <img src="/static/fullbody.jpg">
        <img src="/static/gluteworkouts.jpg">
        <img src="/static/image.jpg">
        <img src="/static/image1.jpg">
        <img src="/static/image2.jpg">
        <img src="/static/increasestrength.jpg">
        <img src="/static/abworkouts.jpg">
    </div>
</div>


{% endblock %}