{% extends 'index.html'%}

{% block style%}
  {% load static %}
  <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block body%}


  <div id="homebody">
  <div id="container">
    <p><span class="heading1">BUILD</span> <span class="heading2">YOUR BODY</span></p>
    <span class="heading3">TRANSFORM </span><span class="heading4">YOUR LIFE</span>
  </div>       
  <div class="workout_cate">
    <h2> WORKOUT CATEGORIES</h2>  
      <h3>Choose a category that best suits the workout you're searching for.Once in 
                the category ,use the sort and filter options to find the right workout for 
                you experience ang goals.
      </h3> 
      <header class="Workouts">    
        <main class="services">
          <div class="box">
            <img src="/static/workoutsformen.jpg" alt="">
            <h4 class="h-secondary center">Workouts For Men</h4>
          </div>    
          <div class="box">
            <img src="/static/workoutsforwomen.jpg" alt="">
              <h4 class="h-secondary center">workout for Women</h4>
          </div>     
          <div class="box">
            <img src="/static/musclebuilding.jpg" alt="">
            <h4 class="h-secondary center">Muscle Building</h4>
          </div>     
          <div class="box">
            <img src="/static/fatloss.jpg" alt="">
            <h4 class="h-secondary center">Fats Loss</h4>
          </div>
        </main>    
          <main class="services1">
            <div class="box">
              <img src="/static/increasestrength.jpg" alt="">
              <h4 class="h-secondary center">Increase Strength</h4>
            </div>    
            <div class="box">
              <img src="/static/abworkouts.jpg" alt="">
              <h4 class="h-secondary center">Ab Workouts</h4>
            </div>     
            <div class="box">
              <img src="/static/fullbody.jpg" alt="">
                      <h4 class="h-secondary center">Full Body</h4>
                   </div>     
                   <div class="box">
                    <img src="/static/sportsperformance.jpg" alt="">
                      <h4 class="h-secondary center">Sport Performance</h4>
                   </div>     
                   
                </main> 
                <main class="services2">
               
                    <div class="box">
                     <img src="/static/cardio.jpg" alt="">
                       <h4 class="h-secondary center">Cardio</h4>
                    </div>    
                    <div class="box">
                        <img src="/static/chestworkouts.jpg" alt="">
                          <h4 class="h-secondary center">Chest Workouts</h4>
                       </div>     
                       <div class="box">
                        <img src="/static/backworkouts.jpg" alt="">
                          <h4 class="h-secondary center">Back Workouts</h4>
                       </div>     
                       <div class="box">
                        <img src="/static/bicepworkouts.jpg" alt="">
                          <h4 class="h-secondary center">Bicep Workouts</h4>
                       </div>     
                       
                    </main> 
                    <main class="services3">
               
                        <div class="box">
                         <img src="/static/shoulderworkout.jpg" alt="">
                           <h4 class="h-secondary center">Shoulder Workouts</h4>
                        </div>    
                        <div class="box">
                            <img src="/static/legworkouts.jpg" alt="">
                              <h4 class="h-secondary center">Leg Workouts</h4>
                           </div>     
                           <div class="box">
                            <img src="/static/tricepworkouts.jpg" alt="">
                              <h4 class="h-secondary center">Tricep Workouts</h4>
                           </div>     
                           <div class="box">
                            <img src="/static/gluteworkouts.jpg" alt="">
                              <h4 class="h-secondary center">Glute Workouts</h4>
                           </div>     
                           
                        </main> 
                        
          </header>
          <section id="services-doc">
                <div class="amenities">
                   <h1>Amenities</h1>
                   <div class="parents">
                   <div class="an">
                  <img src="/static/cctv.png" alt="">
                   <h4>CCTV</h4>
                   </div>
                   <div class="an">
                    <img src="/static/dj.png"alt="">
                    <h4>Dj and Music</h4>
                   </div>
                   <div class="an"> 
                  <img src="/static/group.png" alt="">
                  <h4>GGX</h4>
                   </div>
                   <div class="an">
                  <img src="/static/locker.gif"alt="">
                  <h4>Locker Rooms</h4>
                </div>
              </div>
              <div class="parents_1">
                  <div class="an">
                  <img src="/static/free-wifi.png" alt="">
                  <h4>Wifi</h4>
                </div>
                  <div class="an">
                  <img src="/static/shower.png"alt="">
                  <h4>Shower</h4>
                </div>
                  <div class="an">
                  <img src="/static/single.jpg" alt="">
                  <h4>HllT</h4>
                </div>
                  <div class="an">
                  <img src="/static/taxi.png"alt="">
                  <h4> valet parking</h4>
                </div>
              </div>
            </section>
              {% comment %} <div class="parents_2">
                  <div class="an">
                  <img src="/static/gym.png"alt="">
                  <h4>Spinning</h4>
                 </div>
                  <div class="an">
                    <img src="/static/nutrition.png"alt="">
                    <h4>Nutritionist</h4>
                </div>
              </div> {% endcomment %}

                </div>  
                <section class="class__container">
                  <div class="class__image">
                     <img src="/static/class-1.jpg" alt="" >
                  </div>
                 <div class="class__content">

                  <h2 class="section__header">THE CLASS YOU WILL GET HERE</h2>
                  <p>
                    Led by our team of expert and motivational instructors, "The Class You
                    Will Get Here" is a high-energy, results-driven session that combines
                    a perfect blend of cardio, strength training, and functional
                    exercises. Each class is carefully curated to keep you engaged and
                    challenged, ensuring you never hit a plateau in your fitness
                    endeavors.
                  </p>
                  <button class="btn_class">Book A Class</button>
                </div>
               </section>  

        </div> 
        
         <h2 class="section__header">WHY JOIN US ?</h2>
         <p class="section__subheader">
           Our diverse membership base creates a friendly and supportive
           atmosphere, where you can make friends and stay motivated.
         </p>
         <div class="join__image">
           <img src="/static/join.jpg" alt=" " />
           <div class="join__grid">
             <div class="join__card">
               <span><i class="ri-user-star-fill"></i></span>
               <div class="join__card__content">
                 <h4>Personal Trainer</h4>
                 <p>Unlock your potential with our expert Personal Trainers.</p>
               </div>
             </div>   
             <div class="join__card">
               <span><i class="ri-vidicon-fill"></i></span>
               <div class="join__card__content">
                 <h4>Practice Sessions</h4>
                 <p>Elevate your fitness with practice sessions.</p>
               </div>
             </div>
             <div class="join__card">
               <span><i class="ri-building-line"></i></span>
               <div class="join__card__content">
                 <h4>Good Management</h4>
                 <p>Supportive management, for your fitness success.</p>
               </div>
             </div>
           </div>
         </div>
         <section class="section__container price__container">
          <h2 class="section__header">OUR PRICING PLAN</h2>
          <p class="section__subheader">
            Our pricing plan comes with various membership tiers, each tailored to
            cater to different preferences and fitness aspirations.
          </p>
          <div class="price__grid">
            <div class="price__card">
              <div class="price__card__content">
                <h4>Basic Plan</h4>
                <h3>$16</h3>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  Smart workout plan
                </p>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  At home workouts
                </p>
              </div>
              <button class=" price__btn">Join Now</button>
            </div>
            <div class="price__card">
              <div class="price__card__content">
                <h4>Weekly Plan</h4>
                <h3>$25</h3>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  PRO Gyms
                </p>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  Smart workout plan
                </p>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  At home workouts
                </p>
              </div>
              <button class="price__btn">Join Now</button>
            </div> 
            <div class="price__card">
              <div class="price__card__content">
                <h4>Monthly Plan</h4>
                <h3>$45</h3>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  ELITE Gyms & Classes
                </p>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  PRO Gyms
                </p>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  Smart workout plan
                </p>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  At home workouts  
                </p>
                <p>
                  <i class="ri-checkbox-circle-line"></i>
                  Personal Training
                </p>
              </div>
              <button class="price__btn">Join Now</button>
            </div>
          </div>
        </section> 
        
      </div>      
{% endblock%}        

    
    
    
            

 
