{% extends 'index.html'%}

{% block style%}
  {% load static %}
  <link rel="stylesheet" href="{% static 'personal.css' %}">
{% endblock %}

{% block body%}

<div id="personalbody">


    <div class="personal_img">
        <div class="pgl">
        <p><span class="personal1">PERSONAL </span><span>TRAINING</span></p>
        </div>
    </div>   
    <div class="personal">
      <h1>PERSONAL TRAINING PROGRAM</h1>
      <div class="box">  
    <p>The Active Life Gym Fitness  Institute that offers Fitness Training Program. It offers
      certificate courses in Fitness Management, Personal Training and Spinning 
      Instructing. It covers a range of subjects to comprehensively address and 
      ensure the best international brand practices in India. The 3 month courses
       are monitored by qualified personnel of Active Life  Gym, and also hosts guest
        lectures by the biggest names in the international fitness training industry
         with guaranteed internships and a firsthand opportunity to experience fitness
          training from the world leaders in it. The GGFI offers the most exciting and 
          up-to-date education pathway to gain industry leading qualifications as well 
          as ongoing training in all aspects of the fitness industry.<br></p>
    </div>
          
            <h1>BENEFITS</h1>
            <div class="box">
            <p>As a personal trainer you can earn anything between Rs. 8000 – Rs. 50000 
            depending on what you are doing.<br>The job is flexible. You can work in the
             gym or freelance outside the gym by offering personal training at home to your 
             clients.<br>The pros of working within a gym is you have immediate access to hundreds 
             of potential clients, access to top of the range equipment and, gym dependant, you 
             will have the support of advertising as a fitness training professional.<br>
             If you are working outside the gym, you are not restricted to one location,
              it can be extremely convenient for your client to train in the comfort of their
               own home and the hours you work as a personal fitness trainer are entirely yours
                to decide. And mainly you get Job satisfaction<br>You can have a positive impact
                 on people’s lives. You can help them increase strength, improve appearance or become
             a healthier person, whatever it may be you are there to help.<br></p>
            </div>
        </div>
        <div class="center">  
            <a href="{% url 'showplan' %}?name=personal" class="btn btn-primary"><b>See plans<b></a>
        </div> 
{% endblock %}